.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5B4373;

}

.img-avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
}

.intro-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
  color: #FFDDCC;
  margin: 1rem;
}
