.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5B4373;

}

.img-avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: 3rem;
}

.intro-text {
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
  color: #FFDDCC;
  margin: 1rem;
}

.main-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.nav-link {
  border-radius: 0.5rem;
  background-color: #C091EF;
  color: #5B4373;
  padding: 0.5rem;
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
}

footer {
  background-color: #5B4373;
  display: flex;
  justify-content: center;
}

.footer-text {
	color:#C091EF;
	padding: 5rem;
  }